<section>
	<div class="modal fade" id="lightbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<table class="table">
						<thead>
							<tr>
								<th style="width:15%">Date</th>
								<th style="width:75%">Note</th>
								<th style="width:10%" class="text-right"></th>
							</tr>
						</thead>

						<tbody>
							{{#each notes}}
							<tr>
								<td>{{date}}</td>
								<td>{{text}}</td>
								<td class="text-right">
									<a href="#" class="delete">Delete</a>
								</td>
							</tr>

							{{/each}}
						</tbody>
					</table>

					<div class="form-group">
						<label for="newNote">Enter your note</label>
						<textarea class="form-control" id="newNote" rows="5"></textarea>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info">Save Note</button>
					<button type="button" class="btn btn-blue-grey" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</section>