<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Word Book</title>
	<link rel="shortcut icon" href="./images/title-img.png">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
	<!-- custom css -->
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
			<div class="container d-flex align-items-center">
				<a class="brand" href="/">Word Book</a>
				<ul>
					<li><a href="/">Home<span class="sr-only">(current)</span></a></li>
					<li><a href="/all">Notebook</a></li>
					<li class="btn btn-info" id="scrape">Scrape</li>
				</ul>
			</div>
		</nav>
	</header>

	<section class="container">
		<div class="row">
			{{{ body }}}

		</div>
	</section>

	{{>lightbox}}

	<footer>
		<div class="container d-flex justify-content-between align-items-center">
			<ul>
				<a href="http://chendf.com" target="_blank">© 2018 Daphne Chen</a>
				<a href="https://github.com/dc220v/Reading-Notes" target="_blank">GitHub</a>
			</ul>
			<ul>
				<a href="/">Word API</a>
				<a href="/">Note API</a>
			</ul>
		</div>
	</footer>

	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>

	<!-- Custome JavaScript -->
	<script src="./javascript/app.js"></script>
</body>
</html>
