
  {{#each trendingWords}}

		<!-- word card -->
		<div class="col-lg-3 col-md-6">
			<div class="card" data="{{link}}">
				<div class="view">
					<img src="{{image}}" class="img-fluid" />
				</div>

				<div class="card-body">
					<h4 class="card-title">{{word}}</h4>
					<p class="card-text">{{meaning}}</p>
					<a href="/" class="save btn btn-primary">Save</a>
				</div>
			</div>
		</div>

  {{/each}}

