
{{#each savedWords}}

<!-- word card -->
<div class="col-lg-3 col-md-6">
	<div class="card" data="{{_id}}">
		<div class="view">
			<img src="{{image}}" class="img-fluid" />
		</div>

		<div class="card-body">
			<h5 class="card-title">{{word}}</h5>
			<p class="card-text">{{meaning}}</p>
			<div class="d-flex justify-content-start">
				<a href="#" class="detail btn btn-info" data-toggle="modal" data-target="#lightbox">Note</a>
				<a href="#" class="unsave btn btn-blue-grey">Unsave</a>
			</div>
		</div>
	</div>
</div>

{{/each}}



