
/* header -------------------------------*/

header .navbar {
	background: linear-gradient(to right, #1c2a48, #2e3951);
	padding: 0;
}
header .brand { font-size: 28px;}

header ul { margin: 0;}
header li { list-style-type: none; display: inline;}

header a { padding: 10px; color: white;}
header a:hover { color: #33b5e5;}

.scrape {
	padding: 10px 20px;
    margin-left: 10px; margin-right: 0;
}

/* section -------------------------------*/

.wordbook {
	margin-top: 100px;
	margin-bottom: 50px;
	min-height: calc(100vh - 252px);
}

.jumbotron {
	background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
	background-size: cover;
	margin-bottom: 0;
	height: calc(100vh - 100px);
}

.btn {
	padding: 10px 15px;
	margin: 0; margin-right: 10px;
}

.delete:hover { opacity: .5;}

.img-word { width: 100%;}
.word-card { margin: 10px 0;}

/* footer -------------------------------*/

footer {
	background: linear-gradient(to right, #1c2a48, #2e3951);
	overflow-y: hidden;
}

footer .container { padding: 40px 0;}

footer a { margin: 0 10px; color: white;}
footer a:hover { color: #33b5e5;}

